.map {
  width: 100%;
  height: auto;
}

.MuiScopedCssBaseline-root .MuiInputBase-input {
  box-sizing: content-box;
}

.map-state-fill.map-state-status-none {
  fill: #2dc937;
}
.map-state-fill.map-state-status-shelter-in-place-order {
  fill: #cc3232;
}
.map-state-fill.map-state-status-state-of-emergency {
  fill: #e7b416;
}
.map-state-outline.map-state-status-none {
  stroke: #2dc937;
}
.map-state-outline.map-state-status-shelter-in-place-order {
  stroke: #cc3232;
}
.map-state-outline.map-state-status-state-of-emergency {
  stroke: #e7b416;
}

.map-state-outline {
  fill: none;
  opacity: 0.8;
  stroke-width: 3;
}
.map-state-fill {
  fill-opacity: 0.35;
  stroke: none;
}
.map-state-fill:hover {
  fill-opacity: 0.65;
}
.selected .map-state-fill {
  fill-opacity: 1;
}
.selected .map-state-outline {
  stroke-width: 5;
  opacity: 1;
  stroke: #fff;
}
.info-title {
  margin-bottom: 32px;
  text-align: center;
}
.info-title h1 {
  max-width: 10000px;
}
.info-box {
  padding: 24px;
}
.info-wrapper {
  display: flex;
  justify-content: center;
}
